*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
body{
    min-height: 100vh;
    background: #111;
}

.container{
    width: 100%;
    max-width: 1230px;
    min-height: 100vh;
    margin: auto;
    padding: 0 15px;
    background: white;
}
header{
    width: 100%;
    min-height: 70px;
    background: white;
    border-bottom: 1px solid #555;
    overflow: hidden;
    position: relative;
}
header .logo{
    float: left;
    line-height: 70px;
    text-transform: uppercase;
    text-shadow: 4px 5px 10px #ddd;
}

header ul{
    float: right;
    list-style: none;
}
header ul li{
    display: inline-block;
    line-height: 70px;
}
header ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    padding: 10px 20px;
    opacity: 0.7;
}
header ul li a:hover{
    font-weight: bold;
    opacity: 1;
}
header ul li a.active{
    background: black;
    color: white;
    border-radius: 50px;
}
header .menu{
    position: absolute;
    top: 37px;
    right: 10px;
    transform: translateY(-50%);
    background: black;
    opacity: 0.7;
    color: white;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 20px;
    letter-spacing: 2px;
    cursor: pointer;
    display: none;
}
/* ----------------------Section------------------- */
section{
    width: 100%;
    min-height: 100vh;
    margin-top: 20px;
}
section .banner{
    width: 100%;
    height: 600px;
    overflow: hidden;
    position: relative;
}
.banner .thumb{
    width: 100%;
    height: 100%;
    position: relative;
}
.banner .thumb img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    animation: fade 1s ease-in-out;
}
@keyframes fade{
    from {opacity: .5} 
    to {opacity: 1}
}
.banner .text{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.banner .text h2{
    text-transform: uppercase;
    letter-spacing: 10px;
    text-shadow: -1px 3px 0px white;
    font-size: 3em;
    color: rgb(13, 187, 187);
}
.banner .text p{
    letter-spacing: 5px;
    margin-bottom: 15px;
    color: brown;
    text-transform: uppercase;
}

.banner .text input{
    width: 500px;
    height: 40px;
    border: none;
    outline: none;
    background: #0009;
    color: white;
    padding: 0 5px;
}
.banner .text button{
    width: 100px;
    height: 40px;
    border: none;
    outline: none;
    background: #333;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.prev, .next{
    background: white;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    font-size: 3em;
    padding: 0 10px;
    cursor: pointer;
    opacity: 0.5;
    transition: 0.3s linear;
}
.next{
    right: 0;
}
.prev:hover, .next:hover{
    opacity: 1;
}
.slide-nav{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}
.nav-dot{
    background: black;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    line-height: 17px;
    margin: 0 20px;
    color: white;
    font-size: 10px;
    border: 1px solid crimson;
    cursor: pointer;
}
.dot-active{
    background: crimson;
}
/* ----------------------About------------------- */

#about{
    width: 100%;
    margin-top: 20px;
}
#about h2{
    text-transform: uppercase;
    letter-spacing: 10px;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
}
#about .content{
    display: flex;
    flex-wrap: wrap;
}
#about .content .text{
    flex: 1;
    min-width: 300px;
    max-width: 500px;
}
#about .content .text p{
    line-height: 1.4;
    margin: 10px 0;
}
#about .content .text a{
    display: inline-block;
    text-decoration: none;
    color: white;
    background: #555;
    padding: 10px 20px;
    margin-top: 15px;
    border-radius: 3px;
    box-shadow: 4px 5px 10px #ddd;
    transition: 0.3s ease-in-out;
}
#about .thumb{
    flex: 1;
    min-width: 300px;
    min-height: 300px;
    display: flex;
    flex-wrap: wrap;
}
#about .thumb .thumb-box{
    flex: 1;
    min-width: 300px;
    cursor: pointer;
    overflow: hidden;
    float: left;
    padding: 10px;
    margin: 10px;
    box-shadow: 4px 5px 10px #ddd;
    transition: 0.5s ease-in-out;
}
#about .thumb .thumb-box img{
    width: 100%;
    height: 240px;
    display: block;
    object-fit: cover;
}
#about .thumb .thumb-box h3{
    height: 40px;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 40px;
}
#about .thumb .thumb-box:hover,
#about .content .text a:hover{
    box-shadow: none;
}
#about .partner h3{
    font-size: 1.5em;
    text-transform: uppercase;
    margin: 15px 0;
}
#about .partner p{
    margin: 10px 0;
}
#about .partner a{
    text-align: center;
    text-decoration: none;
    margin-right: 10px;
    color: crimson;
    display: inline-block;
}
#about .partner a:hover{
    font-weight: 900;
    color: teal;
}
/* ----------------------Properties------------------- */
#properties{
    width: 100%;
    margin-top: 20px;
}
#properties h2{
    text-transform: uppercase;
    letter-spacing: 10px;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
}
#properties .content{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#properties .content .box{
    flex: 1;
    min-width: 300px;
    min-height: 500px;
    overflow: hidden;
    margin: 15px;
    padding: 15px;
    box-shadow: 4px 5px 10px #ddd;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}
#properties .content .box:hover{
    box-shadow: none;
}
#properties .content .box img{
    width: 100%;
    height: 300px;
    display: block;
    object-fit: cover;
}

#properties h3{
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-top: 10px;
}
#properties span{
    color: teal;
    padding-right: 10px;
}
#properties p{
    line-height: 1.4;
    margin: 5px 0;
}
#properties a{
    text-decoration: none;
    color: white;
    background: #555;
    display:block;
    height: 40px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 15px;
}

/* ----------------------Services------------------- */
#services{
    width: 100%;
    position: relative;
    margin-top: 20px;
}
#services h2{
    text-transform: uppercase;
    letter-spacing: 10px;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
}

#services .content{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0;
    cursor: pointer;
}
#services .content .card{
    flex: 1;
    min-width: 200px;
    margin: 10px;
    text-align: center;
    overflow: hidden;
}
#services .content .card i{
    display: inline-block;
    width: 100px;
    height: 100px;
    font-size: 3em;
    color: teal;
    line-height: 100px;
}
#services .content .card img{
    width: 100%;
    height: 250px;
    display: block;
    object-fit: cover;
}
#services .content .card h3{
    font-size: 1.3em;
    letter-spacing: 4px;
}
#services .content .card p{
    color: #888;
    margin: 10px 0;
}
#services .content .card.circle img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: auto;
    border: 3px solid #888;
    display: block;
    object-fit: cover;
}
#services .content .card.circle h3{
    color: teal;
}

/* ----------------------Contact------------------- */
#contact{
    width: 100%;
    min-height: 100vh;
}
#contact h2{
    text-transform: uppercase;
    letter-spacing: 10px;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
}
#contact .content{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

#contact form{
    flex: 1;
    min-width: 300px;
    padding: 30px 15px;
}
#contact form input,
#contact form textarea,
#contact form button{
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 1px solid #555;
    margin: 15px 0;
    resize: none;
}
#contact .content .map{
    padding: 30px 15px;
    min-width: 300px;
    flex: 1;
}
#contact .content .map iframe{
    width: 100%;
}
#contact form button{
    background: rgb(0, 96, 151);
    height: 40px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 4px;
    cursor: pointer;
}
#contact .box{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
#contact .box .text{
    flex: 1;
    margin: 15px;
}
#contact .box .text h3{
    color: teal;
    letter-spacing: 3px;
}
#contact .box .text p{
    line-height: 1.4;
    margin: 10px 0;
}
#contact .box .text span{
    color: crimson;
}

/* ------------------Footer---------------- */
footer{
    width: 100%;
    max-width: 1230px;
    margin: auto;
    background: #811;
    color: white;
}
footer .content{
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
footer .content .box{
    flex: 1;
    min-width: 300px;
    margin: 30px 10px;
}
footer .content .box h2{
    letter-spacing: 5px;
}
footer .content .box p{
    opacity: 0.5;
    margin: 15px 0;
}
footer .content .box h3{
    opacity: 0.7;
    letter-spacing: 2px;
}
footer .row{
    border-top: 1px solid #555;
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    position: relative;
    flex-wrap: wrap;
}

footer .row p{
    flex: 1;
    min-width: 470px;
    margin-left: 15px;
}
footer .row span{
    color: rgb(20, 220, 103);
}
footer .row .social{
    flex: 1;
    min-width: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}
footer .row .social a{
    text-decoration: none;
    color: white;
    padding: 0 15px;
}
footer .row .social a:hover{
    font-weight: 900;
    color: rgb(20, 220, 103);
}

/* ------------Login/register------------ */
.login-container{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(130deg, rgb(155, 1, 155) ,rgb(1, 118, 185));
    position: fixed;
    top:0;
    left: 0;
    z-index: 99;
    clip-path: circle(0 at 50% 50%);
    transition: 0.5s ease-in-out;
}

.fa.fa-times{
    position: absolute;
    top:0;
    right: 10px;
    font-size: 2em;
    color: orange;
    cursor: pointer;
}

.login-box{
    width: 300px;
    height: 500px;
    overflow: hidden;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 0 20px;
    box-shadow: 0 0 20px #000;
}
.login-box h2{
    font-size: 3em;
    text-align: center;
    margin: 20px 0;
    font-weight: bolder;
    text-transform: uppercase;
}
.login-box label{
    display: inline-block;
    width: 100%;
    height: 40px;
    margin: 10px 0;
    background: #eee;
}
.login-box input{
    width: 210px;
    height: 100%;
    border: none;
    outline: none;
    background: #eee;
}
.login-box i{
    width: 40px;
    text-align: center;
}
.login-box .check{
    background: white;
    height: 25px;
    font-size: 12px;
}
.login-box [type='checkbox']{
    width: 15px;
    height: 15px;
    margin-right: 5px;
    transform: translateY(2px);
}
.login-box button{
    width: 100%;
    height: 40px;
    background: crimson;
    border: none;
    outline: none;
    color: white;
    text-transform: uppercase;
    letter-spacing: 3px;
    cursor: pointer;
}
.login-box p{
    text-align: center;
    width: 100%;
    display: block;
    margin: 5px 0;
    color: #555;
}
.login-box a{
    text-decoration: none;
    color: crimson;
    display: inline-block;
}
.login-box .btn{
    width: 100%;
    height: 40px;
    text-align: center;
    line-height: 40px;
    margin-bottom: 10px;
    color: white;
}
.login-box .btn-fb{
    background: rgb(11, 91, 182);
}
.login-box .btn-gg{
    background: orangered;
}
.login-box .check span{
    color: green;
}
.login-box.show{
    display: none;
}
.top{
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 9;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #ccc;
    background: #111;
    text-align: center;
    line-height: 33px;
}
.top a{
    cursor: pointer;
    color: white;
}

/* ---------------Responsive----------- */
@media (max-width: 1000px){
    header ul{
        position: fixed;
        top:0;
        left: -100%;
        width: 100%;
        height: 100vh;
        background: white;
        z-index: 90;
        transition: 0.5s ease-in-out;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    header ul.menu-toggle{
        left: 0;
    }
    header ul li{
        display: block;
        line-height: normal;
    }
    header ul li a.active{
        border-radius: 0;
    }
    header .menu{
        display: block;
    }

    footer .row p{
        text-align: center;
        margin-bottom: 10px;
    }
}
@media (max-width: 650px){
    section .banner{
        height: 480px;
    }
    .banner .text input{
        width: 300px;
    }
    .banner .text button{
        margin-top: 10px;
    }
    .banner .text h2{
        letter-spacing: 2px;
        font-size: 2.5em;
    }
}
@media (max-width: 500px){
    #properties .content .box{
        margin: 15px 0;
    }
    #about .thumb .thumb-box{
        margin: 0;
    }
    .container{
        padding: 0 10px;
    }
    footer .row p,
    footer .row .social{
        min-width: 300px;
        margin: 0;
    }
    footer .row .social a{
        padding: 10px;
    }
}
@media (max-height: 500px){
    .login-box{
        transform: translate(-50%, -50%) scale(0.65);
    }
}
img.lazy{
    transform: scale(0.5);
}